.InfoContainer {
  width: 100%;
  height: 160%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.InfoContainer img {
  width: 100%;
  height: 20%;
  object-fit: cover;
  margin-top: 10px;
}

@supports (object-fit: contain) {
  .InfoContainer img {
    object-fit: contain;
    height: unset;
    width: auto;
  }
  .InfoContainer {
    height: 100%;
    width: 92%;
    margin-left: 4%;
  }
}

.InfoContainer a {
  margin: 0;
  color: rgb(88, 88, 88);
  font-size: 0.5em;
  font-weight: bold;
}

@media (max-width: 800px) {
  .InfoContainer {
    display: none;
  }
}
