.Emeco {
  height: 80vh;
  width: 100%;
  position: relative;
  padding-bottom: 100px;
}

.TopLogo,
.MobileText,
.MobileGrid {
  display: none;
}

.Grid {
  height: 80%;
  width: 95%;
  max-width: 1300px;
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.BallOne {
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -30%;
  height: 150%;
  width: 80%;
  object-fit: contain;
}

.BallThree {
  position: absolute;
  z-index: -1;
  top: -50%;
  right: -30%;
  height: 60%;
  width: 50%;
  object-fit: contain;
}

.TwoItemContainer {
  width: 24.5%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.TopSmallImageContainer {
  width: 100%;
  height: 40%;
  background-color: white;
  overflow: hidden;
}

.BottomSmallImageContainer {
  width: 100%;
  height: 58.5%;
  background-color: white;
}

.VerticalPictureContainer {
  height: 100%;
  width: 24.5%;
  background-color: white;
}

.BottomSmallImageContainer img,
.TopSmallImageContainer img,
.VerticalPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .Emeco {
    height: auto;
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
  }
  .Grid {
    display: none;
  }
  .TopLogo {
    display: inline-block;
    height: auto;
    width: 34%;
    object-fit: contain;
    margin-left: 33%;
    padding-bottom: 20px;
  }
  .BallOne {
    right: 0;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 400px;
  }
  .BallThree {
    right: 0;
    top: -30%;
    left: -25%;
    height: 200px;
  }
  .MobileText {
    width: 90%;
    margin-left: 5%;
    display: inline-block;
  }
  .MobileGrid {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .LeftColumn,
  .RightColumn {
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .LeftColumn {
    width: 53.5%;
  }
  .RightColumn {
    width: 43.5%;
  }
  .LeftTopImage {
    width: 100%;
    height: 70%;
    background-color: white;
  }
  .LeftBottomImage {
    width: 100%;
    height: 28%;
    background-color: white;
  }
  .RightTopImage {
    width: 100%;
    height: 60%;
    background-color: white;
    overflow: hidden;
  }
  .RightSmallImage {
    width: 100%;
    height: 18%;
    background-color: white;
  }
  .MobileGrid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
