.Home {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.Chair {
  position: absolute;
  z-index: -0;
  top: 20%;
  right: 10%;
  height: 60%;
  width: 33%;
  object-fit: contain;
}

.BallOne {
  position: absolute;
  z-index: -0;
  top: -120px;
  left: -200px;
  height: 100%;
  width: 80%;
  object-fit: contain;
}

.BallTwo {
  position: absolute;
  z-index: -0;
  top: 0;
  left: -60%;
  height: 80%;
  width: 70%;
  object-fit: contain;
}

.MainLogo {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.TextContainer {
  margin-left: 10%;
  width: 50%;
  max-width: 600px;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}

.LogoBanner {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 90px;
  bottom: -5px;
  left: 0;
  z-index: 1;
}

.LogoBanner div {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.LogoBanner img {
  height: 90px;
  width: auto;
  object-fit: contain;
  margin: auto;
  cursor: pointer;
}

.Emeco {
  transform: scale(1);
}

.BlaStation {
  transform: scale(1.1);
}

.Lapalma {
  transform: scale(0.9);
}

.Sancal {
  transform: scale(1.1);
}

.Rex {
  transform: scale(1);
}

@media (max-width: 1200px) {
  .LogoBanner div {
    width: 80%;
  }
  .MainLogo {
    height: 100px;
    width: 100px;
  }
  .TextContainer {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .Home {
    height: auto;
    min-height: 100vh;
    flex-flow: column;
  }
  .MainLogo {
    top: 10px;
    right: 10px;
    height: 120px;
    width: 120px;
  }
  .TextContainer {
    width: 80%;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 0;
    max-width: 500px;
  }
  .BallOne {
    left: -100px;
    height: 120%;
    width: 100%;
    top: -250px;
    transform: rotate(90deg);
  }
  .Chair {
    bottom: 30px;
    top: auto;
  }
  .LogoBanner {
    margin-top: 50px;
    background: transparent;
    height: auto;
    position: relative;
  }
  .LogoBanner div {
    flex-flow: column;
    width: 100%;
    align-items: center;
  }
  .LogoBanner img {
    width: 25%;
    height: auto;
    margin: -10px 0;
  }
  .Emeco {
    transform: scale(1);
  }

  .BlaStation {
    transform: scale(1.06);
    padding-bottom: 3px;
  }

  .Lapalma {
    transform: scale(1.02);
  }

  .Sancal {
    transform: scale(1.06);
    margin-bottom: -40px;
  }

  .Rex {
    transform: scale(1);
    position: absolute;
    bottom: -40px;
  }
}
