.App {
  font-size: 40px;
  background-color: rgba(199, 193, 186, 0.7);
  overflow: hidden;
}

.App h1 {
  margin: 0;
  margin-top: -15px;
  font-size: 1.2em;
  color: rgba(97, 93, 89);
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.App h2 {
  margin: 0;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 1);
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.App h3 {
  margin: 0;
  font-size: 0.45em;
  color: rgb(97, 93, 89);
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.App p,
.App pre,
.App a {
  font-size: 0.4em;
  line-height: 1.3;
  margin: 20px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  width: 100%;
}

@supports (text-align: justify) {
  .App p,
  .App a {
    text-align: justify;
    width: auto;
  }
}

@media (max-width: 1200px) {
  .App {
    font-size: 34px;
  }
  .App h1 {
    font-size: 1em;
  }
}

@media (max-width: 1000px) {
  .App {
    font-size: 28px;
  }
}

@media (max-width: 800px) {
  .App {
    font-size: 30px;
  }
  .App h1 {
    font-size: 0.6em;
    margin-top: -7px;
  }
  .App h2 {
    font-size: 0.55em;
  }
  .App p {
    font-size: 0.45em;
  }
}
